<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
</head>
<body>
  <div>
    <ul>
      {% for i in list_of_party%}
        <li>{{i.partyname}}
          <ul>
            <li>
              {{i.partyid}}
            </li>
          </ul>
        </li>
      {%endfor%}
    </ul>
    <ul>
      {% for k in results%}
        <li>{{k.party_score}}
          <ul>
            <li>
              {{k.party_abbreviation}}
            </li>
          </ul>
        </li>
      {%endfor%}
    </ul>
    
  </div>
</body>
</html>